.marker {
    cursor: pointer;
    width: 16px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.marker-selected {
    background-color: #1565c0;
}