.home-page {
    background-image: url(../home-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
}

table {
    margin: 0 auto;
    background-color: #D9D9D9;
    border: 1px solid ;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

th {
    background-color: #00478F;
    color: white;
}

th, td {
    border: 1px solid ;
    border-collapse: collapse;
    padding: 3%;
    text-align: center;
}

h2 {
    text-align: center;
}

.box {
    float: left;
    width: 33.33%;
    padding: 4%;
    text-align: center;
    background-color: white;
    display: table-cell;
}

img {
    width: 30%;
    height: auto;
    margin: auto;
}

.services-container {
    background-color: white;
    display: table;
    width: 100%
}

.blurb-title {
    margin: 3%;
}

.data-container {
    display: table;
    width: 100%;
    background-color: #00478F;
    color: white;
}

.data-box {
    float: left;
    width: 33.33%;
    padding: 4%;
    text-align: center;
    display: table-cell;
    flex: 1;
}

.stat-container {
    padding: 15px;
}

.slideshow-container {
  position: static;
  margin: auto;
  background-color: white;
  padding-bottom: 3%;
  display: table;
}

.slideshow-inner-container {
    display: flex;
    place-items: center;
    justify-content: center;
    position: static;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 2%;
  color: black;
  font-weight: bold;
  font-size: 200%;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 2% 0 0 2%;
  margin-right: 15%;
}

.prev {
    left: 0;
    margin-left: 15%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.mySlides {
    background-color: white;
    transition: ease;
}

.about-container {
    background-color: #00478F;
    color: white;
}

.about-title {
    padding-top: 5%;
    padding-left: 10%;
}

.about-body {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}
