/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;

  /* Global colour theme (default) */
  color-scheme: light;
  --background-primary: white;
  --text-primary: black;
  --text-secondary: #001429;
  --accent: #006ddb;
  --subtle: #9aa0a7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
}

/* Default light mode colour scheme */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-primary);
    background-color: var(--background-primary);
  }
}

/* Default dark mode colour scheme */
/* @media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #1c2228;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
